.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: center;
}

.fighter-preview___left {
  align-items: center;
}

.preview {
  display: flex;
}

.preview > img {
  width: 100px;
  height: 150px;
}

.fighters___statistic {
  position: relative;
  margin: auto;
  min-width: 60px;
}

.info {
  padding-left: 0;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
}

.info li {
  padding-bottom: 5px;
}